.header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  display: flex;
  width: 94.38px;
  height: 44.75px;
}
.menu {
  display: flex;
  justify-content: space-around;
  font-family: "Poppins";
  font-style: normal;
  font-size: 16px;
  line-height: 160%;
  width: 30%;
  text-align: justify;
  color: #1a0a03;
  align-items: center;
  margin-left: 70px;
}
.menu li {
  display: inline-block;
}
.menu a.current {
  color: #f35d00;
}
.bottom {
  margin-left: 170px;
}
