.logo {
  position: absolute;
  width: 94.38px;
  height: 44.75px;
  top: 71px;
  left: 297px;
}
.menu {
  position: absolute;
  width: 45px;
  height: 26px;
  left: 492px;
  top: 80px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #ee5514;
}
.about {
  position: absolute;
  width: 48px;
  height: 26px;
  left: 577px;
  top: 80px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #1a0a03;
  opacity: 0.7;
}
.feature {
  position: absolute;
  width: 61px;
  height: 26px;
  left: 665px;
  top: 80px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #1a0a03;
  opacity: 0.7;
}
.gallery {
  position: absolute;
  width: 57px;
  height: 26px;
  left: 766px;
  top: 80px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #1a0a03;
  opacity: 0.7;
}

.generaltxt {
  position: absolute;
  width: 366px;
  height: 216px;
  left: 297px;
  top: 229px;

  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 61px;
  line-height: 120%;
  color: #1a0a03;
}
